@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
    box-sizing: border-box;
}
p {
	margin: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	overflow-x: hidden;
}
/* NAVIGATION */
header {
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;	
	background-color: white;
	padding-top: 50px;
	padding-bottom: 10vh;
	box-shadow: 0 0 25px 10px white;
	nav {
		margin-top: -40px;
		float: right;
		ul {
			list-style-type: none;
			li {
				display: inline-block;
				float: left;
				a {
					font-size: 1.5rem;
					display: inline-block;
					padding: 25px;
					text-decoration: none;
					color: #2f3542;
					border-color: #2f3542;
					background-color: white;
					background-position: 100% 0;
					background-size: 300%;
					transition: .5s;
					margin-right: 50px;
					box-shadow: -5px 5px 5px grey;
					text-shadow: 2px 2px 4px #000000;
					text-transform: uppercase;
					border-left: 2px solid;
					border-bottom: 2px solid;
					border-bottom-left-radius: 50px;
					background-image: linear-gradient(45deg, #2f3542 50%, transparent 50%);	
					&:hover {
						color: white;
						border-color: #2f3542;
						background-color: #2f3542;
						background-position: 0 100%;
					}
				}
			}
		}
	}
}
.kr {
	margin: 20px;
	font-size: 1.5rem;
	padding: 25px;
	text-decoration: none;
	color: #2f3542;
	border-color: #2f3542;
	background-position: 100% 0;
	background-size: 300%;
	transition: .5s;
	font-weight: 700;
	border-top-left-radius: 50px;
	cursor: pointer;
	border: 2px solid;
	background-image: linear-gradient(135deg, #2f3542 50%, transparent 50%);
	&:hover {
		color: white;
		border-color: #2f3542;
		background-color: #2f3542;
		background-position: 0 100%;
	}
}
/* HERO */
.hero {
	margin-top: 15vh;
	height: 65vh;	
}
.niceportrait {	
	position: fixed;
	max-height: 70vh;
	margin: 0;	
	left: 15%;
	top: 40%;
	transform: translate(-25%, -25%);	
}
#narcistic {
	max-height: 70vh;
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    border-bottom-right-radius: 50%;
}
.hide-hero {
	animation: hidePhoto 1.5s ease-in-out;
	z-index: -10;
	opacity: 0;
}
.show-hero {
	animation: showPhoto 1.5s ease-in-out;
}
@keyframes hidePhoto {
    from {
    	opacity: 1;
    }
    to {
    	opacity: 0;
    }
}
@keyframes showPhoto {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}
/* MAIN CONTENT */
.container {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 40vh;
}
.offset {
	margin-left: 40%;
}
.heading-box {
	position: relative;
	display: inline-block;	
	margin-bottom: 40px;
	margin-top: 5vh;
	h1 {
		margin: 0;
		font-size: 60px;
		text-transform: uppercase;
		font-weight: 700;
	}
	p {
		text-transform: uppercase;
 	 	font-size: 18px;
 	 	text-align: right;
	  	font-weight: 700;
	}
	p::before {
		content: '';
 		width: 180px;
		height: 3px;
	    background-color: black;
	    position: absolute;
	    bottom: 8px;
	    left: 3px;
	}
}
/* ABOUT ME */
#about-me {
	padding-top: 20vh;
	.heading-box p::before {
		width: 100px;
	}
}
/* TECHNOLOGIES */
#technologies {
	text-align: center;
	padding-top: 20vh;
	.heading-box p::before {
		width: 320px;
	}
}
.icons-container {
	margin-top: 5vh;
}
.techno-row {
	text-align: center;	
}
.techno-icon {
	display: inline-block;
	font-size: 6rem;
	margin: 0 30px;
	animation: pulse 3s infinite;
	transition-timing-function: ease;
	&:nth-child(2n) {
		animation-delay: 1.5s;
	}
}
.fa-html5{
	color: #E54C21;
}
.fa-css3-alt{
	color: #0070BA;
}
.fa-sass{
	color: #D578A7;
}
.devicon-bootstrap-plain {
	color: #563D7C;
}
.fa-js-square {
	color: #F0DB4F;
}
.devicon-jquery-plain-wordmark {
	color: #0868AC;
}
.ajax-icon {	
	background-image: url('../images/AJAX.svg');
    background-position: center 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.fa-npm {
	color: #CA3736;
}
.devicon-git-plain-wordmark {
	color: #F34F29;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* PROJECTS */
.projects-container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;		
	width: 100%;
}
#projects {
	padding-top: 20vh;
	text-align: right;
	.heading-box p::before {
		width: 145px;
	}
}
.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.project {
	margin-right: 20px;
	margin-bottom: 20px;
	height: 380px;
	position: relative;
	overflow: hidden;
	&:nth-of-type(even) {
		margin-right: 0;
	}
	&:hover > .layer {    
   		top: -5%;
	}
}
.layer {   
    transition: .6s;
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: rgba(0,0,0, 0.8);
    top: 97%;
    transform: skewY(1.5deg);
    transition-duration: .5s;    
}
.project-content {
	transform: skewY(-1.5deg);
	text-align: center;
	color: #c7ecee;
	h3 {
		margin: 80px 20px 40px 20px;
		font-weight: 700;
	}
	a {
		margin: 20px 10px;
		font-size: 30px;
		color: #c7ecee;
	}
	.project-description {
		margin: 20px 40px;
	}
	.project-technologies {
		display: inline-block;
    	padding: 5px;
    	background-color: #95afc0;
    	color: #535c68;
    	margin: 5px;
    	font-weight: 700;
	}
}
/* FOOTER */
.footer {
	margin: 0;
	background-color: #dff9fb; 
}
.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	h3 {
		padding-top: 15px;
	}
	p {
		padding-bottom: 20px;
	}
}
/* CONTACT */
.contact-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	text-align: center;
	z-index: 30;
	overflow-x: hidden;	
    background-color: #535c68;
	.heading-box {
		color: #c7ecee;
	}
}
.contact-particles {
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: -1;
 
}
.fa-chevron-right {
	font-size: 50px;
	color: #c7ecee;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 25px;
	border-radius: 20px;
}
.contact-cell {
	margin: 0 auto;
	max-width: 600px;
	background-color: white;
	margin-top: 5vh;
	padding: 30px;
	background-color: #c7ecee;
	h3 {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 5vh;
	}
}
.social a {
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0 5px;
	font-size: 22px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 700;
	display: inline-block;
	color: #c7ecee;
	background-color: #535c68;
	&:hover {
		color: #535c68;
		background-color: #c7ecee;
	}
}
.moveFromRight {
	animation: moveFromRight 1s ease;
	left: 0;
}
.returnRight {
	animation: returnRight 1s ease;
	left: 100%;
}
@keyframes moveFromRight {
    from {left: 100%; opacity: 0}
    to {left: 0; opacity: 1}
}
@keyframes returnRight {
    from {left: 0; opacity: 1} 
    to {left: 100%; opacity: 0}
}
/* MEDIA */
@media (max-width: 768px) {
	header {
		padding-top: 35px;
		padding-bottom: 10px;
		nav {
			float: right;
			padding: 20px;
			ul {
				position: absolute;
				right: 20px;
				top: 60px;
				width: auto;
				padding: 20px;
				float: none;
				margin-top: 60px;
				li {
					text-align: center;
					width: 100%;
					padding: 10px 0;
					margin: 0 30px;
					a {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
	.menu {
		z-index: 20;
		display: inline-block;
		font-size: 30px
	}
	.kr {
		line-height: 0;
		padding: 20px;
		margin: 10px;
	}
	.niceportrait {
		position: absolute;
	}
	.container {
		margin-bottom: 10vh;
	}
	.offset {
		margin-left: 0;
	}
	#about-me {
		margin-top: 40px;
		padding-top: 10vh;
	}
	#technologies {
		padding-top: 10vh;
	}
	#projects {
		padding-top: 10vh;
	}
	.heading-box h1 {
		font-size: 40px;
	}
	#about-me, #projects {
		text-align: center;
	}
	#about-me {
		.heading-box p::before {
		width: 25px;
		}
	}
	#about-me > p {
		padding: 20px 30px;
	}
	#technologies {
		.heading-box p::before {
		width: 170px;
		}
	}
	#projects {
		.heading-box p::before {
		width: 35px;
		}
	}
	.project {
		margin-right: 0;
	}
	.project-content {
		h3 {
			margin-top: 40px;
		}
	}
	.fa-chevron-right {
		font-size: 30px;
		padding: 10px;
	}
}